.row {
    width: 100%;
    margin-bottom: 1em;
}
.hint {
    color: slategray;
}
.page-element {
    padding-left: 5em;
    padding-right: 5em;
}

.page-element-full-width {
    padding: 0;
    margin: 0;
    
    &>div.row {
        padding-left: 5em;
        padding-right: 5em;
        margin: 0;
        width: auto;
    }
}
